:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin: 100px 10px 60px 10px !important;
}
.first {
  font-size: 70px;
}

.second {
  font-size: 48px;
}

.third {
  font-size: 24px;
}

.about {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px 18px 50px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: block;
  text-align: center;
  color: var(--primary-color);
  font-size: 26px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.launch-link {
  background: var(--primary-color);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .first {
    font-size: 48px;
    line-height: 1.2;
  }

  .second {
    font-size: 32px;
    text-align: center;
  }

  .third {
    font-size: 20px;
  }
  p {
    text-align: center;
  }
 
  .launch-link {
    max-width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .navigation-links {
    margin-top: 24px;
  }
  .navigation-links a {
    margin: 10px 10px 30px;
  }
}
